<div class="main">
  <div class="img-section">
    <img src="../" alt="...">
  </div>
  <div class="form-section">
    <mat-form-field appearance="fill" class="field-width">
      <input matInput placeholder="Add country location" type="text" (click)="search()">
        <mat-icon matSuffix >search</mat-icon>
    </mat-form-field>
    <div class="location-list">

    </div>
    <div class="search-result">
      <h3 class="">Weather Details</h3>
      <ul>
        <li>Cloudy <span> 32%</span></li>
        <li>Humidity <span> 32'c</span></li>
        <li>Wind <span > 32%</span></li>
        <li>Rain <span > 32%</span></li>
      </ul>
    </div>
  </div>
</div>